<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- BEGIN : Head-->

<head>
    <head th:replace="fragments :: page_head" />

</head>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
<div th:replace="fragments :: page_header" />

   <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <div th:replace="fragments :: page_menu" />

        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-overlay"></div>
                <div class="content-wrapper">
                    <section class="users-list-wrapper">
                        <!-- Filter starts -->
                        <div class="users-list-filter px-2">
                            


                                    <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
									<a class="btn btn-primary bg-light-primary mb-1" href="company-list.html"><i class="fa fa-list mr-1"></i>Company List</a>
                                    </div>

                            
                        </div>
                        <!-- Filter ends -->

                        <!-- Table starts -->


		   <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">

                                            <div class="tab-content">
                                                <!-- Account content starts -->
                                                <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel" aria-labelledby="account-tab">

                                                    <!-- Account form starts -->
                                                    <form novalidate th:action="@{/company/add}" method="post" th:object="${company}" >
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="users-edit-username">Title</label>
                                                                        <input th:field="*{title}" type="text" id="users-edit-username" class="form-control" placeholder="Username" value="dean3004" required aria-invalid="false">
                                                                    </div>
                                                                </div>
																<div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="users-edit-name">Zip</label>
                                                                        <input th:field="*{zip}" type="text" id="zip" class="form-control" placeholder="Name" value="43082" required aria-invalid="false">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="users-edit-name">Address</label>
                                                                        <input th:field="*{address1}" type="text" id="users-edit-name" class="form-control" placeholder="Name" value="973 Polaris Crossing Way Westerville" required aria-invalid="false">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="users-edit-email">E-mail</label>
                                                                        <input th:field="*{email}" type="email" id="users-edit-email" class="form-control" placeholder="Email" value="deanstanley@gmail.com" required aria-invalid="false">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="users-edit-email">Establishment Date</label>
                                                                        <input th:field="*{establishmentDate}" type="text" class="form-control pickadate picker__input picker__input--active" placeholder="Basic Pick-a-date" readonly="" id="P435854046" aria-haspopup="true" aria-readonly="false" aria-owns="P435854046_root">                                                                    </div>
                                                                </div>																
                                                            </div>

                                                            <div class="col-12 col-md-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="users-edit-role">State</label>
                                                                        <select th:field="*{state}" id="users-edit-role" class="form-control" required>
                                                                            <option th:value="''" th:text="Select State"></option>
                                                                            <option th:each="state : ${states}" th:text="${state}"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="users-edit-status">Status</label>
                                                                        <select th:field="*{enabled}" id="users-edit-status" class="form-control" required>
                                                                            <option value="">Select Status</option>
                                                                            <option value="1">Active</option>
                                                                            <option value="3">Close</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="representative">Representative</label>
                                                                        <input  th:field="*{representative}" type="text" id="representative" class="form-control" placeholder="Representative">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <label for="phone">Phone</label>
                                                                        <input th:field="*{phone}" type="text" id="phone" class="form-control" placeholder="9734157843">
                                                                    </div>
                                                                </div>																
                                                            </div>

       
                                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                                <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Save Changes</button>
																<button type="submit" class="btn btn-danger mb-2 mb-sm-0 mr-sm-2">Delete Company</button>
                                                                <button type="reset" class="btn btn-secondary">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!-- Account form ends -->
                                                </div>
                                                <!-- Account content ends -->


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    

                        <!-- Table ends -->
                    </section>

                </div>
            </div>
            <!-- END : End Main Content-->

            <footer th:replace="fragments :: page_footer"></footer>

            <!-- Scroll to top button -->
            <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->



    <div class="sidenav-overlay"></div>

<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>
<!-- END: Custom CSS-->
</body>
<!-- END : Body-->

</html>