<!DOCTYPE html>
<html class="loading" lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN : Head-->

<head th:replace="fragments :: page_head" />
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">

<div th:replace="fragments :: page_header" />

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper">

    <div th:replace="fragments :: page_menu" />

        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-overlay"></div>
                <div class="content-wrapper">
                    <section class="users-list-wrapper">
                        <!-- Filter starts -->
                        <div class="users-list-filter px-2">
                            <form>


                                    <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
									<a th:href="@{/user/add}" class="btn btn-success bg-light-success mb-1" href="/user/add"><i class="fa fa-plus mr-1"></i>Add User</a>
                                    </div>

                            </form>
                        </div>
                        <!-- Filter ends -->

                        <!-- Table starts -->
                        <div class="users-list-table">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <!-- Datatable starts -->
                                                <div class="table-responsive">
                                                    <table id="users-list-datatable" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Firstname</th>
                                                                <th>Lastname</th>
                                                                <th>Email</th>
                                                                <th>Phone</th>
                                                                <th>Role</th>
																<th>Corp</th>
                                                                <th>Status</th>
                                                                <th>Edit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="user : ${users}">
                                                                <td >1</td>
                                                                <td th:text="${user.firstname}"></td>
                                                                <td th:text="${user.lastname}"></td>
                                                                <td th:text="${user.email}"></td>
                                                                <td th:text="${user.phone}"></td>
																<td>Admin</td>
																<td th:text="${user.company.title}">Dean Stanley Co</td>
                                                                <td th:if="${user.enabled == true}"><span class="badge bg-light-success">Active</span></td>
                                                                <td th:if="${user.enabled == false}"><span class="badge bg-light-danger">Passive</span></td>

                                                                <td>
                                                                    <a th:href="@{/user/update/{userEmail}(userEmail=${user.email})}" href="page-users-edit.html">
                                                                        <i class="ft-edit"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Datatable ends -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table ends -->
                    </section>

                </div>
            </div>
        <!-- END : End Main Content-->

        <!-- BEGIN : Footer-->
        <footer th:replace="fragments :: page_footer"></footer>
        <!-- End : Footer-->
        <!-- Scroll to top button -->
        <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

    </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->



    <div class="sidenav-overlay"></div>


    <!-- BEGIN PAGE LEVEL JS-->
    <script th:src="@{/js/dashboard2.js}"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN: Custom CSS-->
    <script th:src="@{/assets/js/scripts.js}"></script>
    <!-- END: Custom CSS-->


</body>
<!-- END : Body-->

</html>