<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en">
<!-- BEGIN : Head-->

<head th:replace="fragments :: page_head"/>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">

<div th:replace="fragments :: page_header"/>
<!-- Navbar (Header) Ends-->

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper">

    <div th:replace="fragments :: page_menu"/>


    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    <!-- Filter starts -->
                    <div class="users-list-filter px-2">

                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                            <a class="btn btn-success bg-light-success mb-1" href="purchase-invoice-add.html"><i
                                    class="fa fa-plus mr-1"></i>Create Purchase Invoice</a>
                        </div>

                    </div>
                    <!-- Filter ends -->

                    <!-- Table starts -->
                    <div class="users-list-table">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <!-- Datatable starts -->
                                            <div class="table-responsive">
                                                <table id="users-list-datatable" class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Invoice No</th>
                                                        <th>Invoice Date</th>
                                                        <th>Vendor</th>
                                                        <th>Cost</th>
                                                        <th>Tax</th>
                                                        <th>Total</th>
                                                        <th>Add Line Item</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="purchaseInvoice : ${purchaseInvoices}">
                                                        <td class="text-truncate"
                                                            th:text="${purchaseInvoice.invoiceNo}"></td>
                                                        <td class="text-truncate"
                                                            th:text="${#temporals.format(purchaseInvoice.invoiceDate, 'dd.MM.yyyy')}"></td>
                                                        <td class="text-truncate"
                                                            th:text="${purchaseInvoice.clientVendor.companyName}"></td>
                                                        <td class="text-truncate"
                                                            th:text="${purchaseInvoice.monetaryDetailDto.cost}"></td>
                                                        <td class="text-truncate"
                                                            th:text="${purchaseInvoice.monetaryDetailDto.tax}"></td>
                                                        <td class="text-truncate"
                                                            th:text="${purchaseInvoice.monetaryDetailDto.totalCost}"></td>
                                                        <td>
                                                            <a href="page-users-edit.html">
                                                                <i class="ft-list"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="page-users-edit.html">
                                                                <i class="ft-edit"></i>
                                                            </a>
                                                        </td>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Datatable ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table ends -->
                </section>

            </div>
        </div>
        <!-- END : End Main Content-->

        <footer th:replace="fragments :: page_footer"></footer>

        <!-- Scroll to top button -->
        <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>
<!-- END: Custom CSS-->
</body>
<!-- END : Body-->

</html>
