<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en">
<!-- BEGIN : Head-->

<head>
    <head th:replace="fragments :: page_head"/>
    <title>Add Item</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/ico/invoice.png}">

</head>
<!-- END : Head-->

<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">

<div th:replace="fragments :: page_header"/>
<!-- Navbar (Header) Ends-->

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper">

    <div th:replace="fragments :: page_menu"/>


    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    <!-- Filter starts -->
                    <div class="users-list-filter px-2">


                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                            <a class="btn btn-primary bg-light-primary mb-1" th:href="@{/invoice/purchaseList}"><i
                                    class="fa fa-list mr-1"></i>Purchase Invoice List</a>
                        </div>
                    </div>

                    <!-- Filter ends -->

                    <!-- Table starts -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            <!-- Account content starts -->
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">

                                                <!-- Account form starts -->
                                                <form novalidate th:object="${invoice}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="invoice-no">Invoice No</label>
                                                                    <input type="text" id="invoice-no" readonly
                                                                           class="form-control"
                                                                           th:placeholder="${invoice.invoiceNo}"
                                                                           required th:value="${invoice.invoiceNo}"
                                                                           th:field="*{invoiceNo}"
                                                                           aria-invalid="false">
                                                                </div>
                                                            </div>


                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="invoice-date">Invoice Date</label>
                                                                    <input type="text" id="invoice-date" readonly=""
                                                                           class="form-control"
                                                                           aria-invalid="false"
                                                                           th:field="*{invoiceDate}"
                                                                           th:placeholder="${#temporals.format(invoiceDate, 'dd.MM.yyyy')}">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="select-vendor">Vendor</label>
                                                                    <select id="select-vendor" class="form-control"
                                                                            required disabled readonly th:field="*{clientVendor}">
                                                                        <option th:each="theClientVendor : ${vendors}"
                                                                                th:value="${theClientVendor.id}"
                                                                                th:text="${theClientVendor.companyName}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </form>

                                                <form novalidate th:action="@{/invoice/purchaseAddItem/{invoiceNo}(invoiceNo=${invoice.invoiceNo})}" method="post"
                                                      th:object="${invoiceProduct}">
                                                    <div class="row">

                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-role">Product</label>
                                                                    <select id="users-edit-role" class="form-control"
                                                                            th:field="*{product}" required>
                                                                        <option value="">Select Product</option>
                                                                        <option th:each="theProduct : ${products}"
                                                                                th:value="${theProduct.id}"
                                                                                th:text="${theProduct.name}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="quantity">Quantity</label>
                                                                    <input type="number" id="quantity"
                                                                           class="form-control" placeholder="Quantity"
                                                                           th:field="*{qty}"
                                                                           required aria-invalid="false">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="price">Price</label>
                                                                    <input type="text" id="price"
                                                                           class="form-control" placeholder="Price"
                                                                           th:field="*{unitPrice}"
                                                                           required aria-invalid="false">
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">

                                                            <button type="submit" name="action" value="addItem"
                                                                    class="btn btn-success mb-2 mb-sm-0 mr-sm-2">
                                                                Add Item
                                                            </button>

                                                        </div>


                                                    </div>

                                                </form>
                                                <!-- Account form ends -->

                                                    <div class="col-12 users-module">
                                                        <div class="table-responsive">
                                                            <table class="table mb-0 mt-3">
                                                                <thead>
                                                                <tr>
                                                                    <th class="text-truncate">Product</th>
                                                                    <th class="text-truncate">Price</th>
                                                                    <th class="text-truncate">Tax</th>
                                                                    <th class="text-truncate">Quantity</th>
                                                                    <th class="text-truncate">Total</th>
                                                                    <th class="text-truncate">Delete</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="theInvoiceProduct : ${invoiceProductList}">
                                                                    <td class="text-truncate" th:text="${theInvoiceProduct.product.name}"></td>
                                                                    <td class="text-truncate" th:text="${theInvoiceProduct.unitPrice}"></td>
                                                                    <td class="text-truncate" th:text="${theInvoiceProduct.tax}"></td>
                                                                    <td class="text-truncate" th:text="${theInvoiceProduct.qty}"></td>
                                                                    <td class="text-truncate" th:text="${(theInvoiceProduct.unitPrice * theInvoiceProduct.qty) + (theInvoiceProduct.unitPrice * theInvoiceProduct.qty) * (theInvoiceProduct.tax / 100)}"></td>
                                                                    <td class="text-truncate">
                                                                        <form th:action="@{/invoice/purchaseRemoveItem/{id}(id=${theInvoiceProduct.id})}" method="post" th:object="${theInvoiceProduct}">
                                                                            <button class="danger">
                                                                                <i class="ft-trash font-medium-3"></i>
                                                                            </button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                    <a th:href="@{/invoice/purchaseList}" type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Done</a>
                                                </div>

                                            </div>
                                            <!-- Account content ends -->


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table ends -->
                </section>

            </div>
        </div>
        <!-- END : End Main Content-->

        <footer th:replace="fragments :: page_footer"></footer>

        <!-- Scroll to top button -->
        <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>
<!-- END: Custom CSS-->
</body>
<!-- END : Body-->

</html>